<h2 class="text-warning">Presupuesto Formulario</h2>
<div class="container my-5">
  <app-presupuesto-cabecero
    [presupuestoTotal]="getPresupuestoTotal()"
    [ingresoTotal]="getIngresoTotal()"
    [egresoTotal]="getEgresoTotal()"
    [porcentajeTotal]="getPorcentajeTotal()"
  />
  <app-presupuesto-form />
  <div class="row mt-4">
    <div class="col-md-6">
      <app-presupuesto-ingreso />
    </div>
    <div class="col-md-6">
      <app-presupuesto-egreso [ingresoTotal]="getIngresoTotal()" />
    </div>
  </div>
</div>
