<div class="container text-center">
  <h1 class="text-info">
    {{ title }}
  </h1>
  <app-listado-productos />
</div>
<hr />
<div class="container text-center">
  <app-event-binding />
  <hr />
  <app-property-binding />
  <hr />
  <app-two-way-binding />
  <hr />
  <app-calculadora />
</div>
<div class="container text-center">
  <hr />
  <h1 class="text-center text-info">03 - Control Flow</h1>
  <app-control-flow-if />
  <hr />
  <app-local-reference />
  <hr />
  <app-control-flow-for />
  <hr />
  <h1 class="text-info">Reto 03</h1>
  <h2 class="text-warning">Listado de Productos</h2>
  <app-listado-productos />
</div>
<hr />
<div class="container text-center">
  <h1 class="text-info">04 - Comunicacion entre componentes</h1>
  <app-padre />
  <hr />
  <app-calculadora-main />
  <hr />
  <app-view-child />
  <hr />
  <h1 class="text-info">Reto 04</h1>
  <app-main />
</div>
<router-outlet />
